body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4B4D7C;
  color: #FFFFFF;
}

header {
  background-color: #128438;
  padding: 15px 20px;
  border: 1px double #596A84;


}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

main {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #02131B;
  border-left: 5px dotted #3498db;
  padding-left: 10px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

/* Цитата */
.quote {
  background-color: #ecf0f1;
  border-left: 4px dashed #3498db;
  padding: 15px;
  margin: 20px 0;
  font-style: italic;
  color: #02131B;
}

/* Кнопка */
.button {
  display: inline-block;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

/* Теги */
.tag {
  display: inline-block;
  background-color: #f1c40f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  margin: 5px;
}

nav {
   display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 0 20px;
  height: 70px;
  font-family: Arial, sans-serif;
}
